@tailwind base;
@tailwind components;
@tailwind utilities;


*,*::after,*::before{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body, html {
  overflow-x: hidden;
  background-color: #F8FCFF;
}


.containerbox {
  width: 1536px;
  margin: auto;
  min-height: 100vh;
  padding-left: 50px;
  padding-right:50px;
}

.containerbox1 {
  width: 1536px;
  margin: auto;
  min-height: 100vh;

}

@media (max-width: 1536px) {
  .containerbox {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .containerbox {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .containerbox {
    width: 1024px;
    
  }
}

@media (max-width: 1024px) {
  .containerbox {
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .containerbox {
    width: 100vw;
  }
}

@media (max-width: 640px) {
  .containerbox {
    width:100vw;
  }
}
@media (max-width: 475px) {
  .containerbox {
    width: 100vw;
  }
}